



.popup {
  margin: auto;
  height:430px;
  padding: 0px;
  background: #fff;
  width: 30%;
  position: relative;
  //transition: all 5s ease-in-out;
}


.popup  {
  position: absolute;
  top: 20px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup {
  color: #06D85F;
}

