.fixer{
 position: absolute fixed;
 bottom: 0px;
 left:0;
 right: 0;   
}
.monTheme{
    background-color: #552eb3;
}

.centrer{
    margin-left: auto;
    margin-right: auto;
    width: 15em;
    text-align: center;
}