
<footer class="page-footer fixer monTheme" >
    <div class="container">
        <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">Développement des compétences chez Excilys</h5>
            <p class="grey-text text-lighten-4">Une formation initiale de haut niveau, véritable 
                académie pour  jeunes développeurs passionnés, et une veille technologique
                 permanente, des technights mensuelles, etc.</p>
        </div>
        <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Excilys</h5>
            <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Passion</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Excellence</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Partage</a></li>
            </ul>
        </div>
        </div>
        <div class="row">
          <div class="col s12 centrer">
            <a class="grey-text text-lighten-4" href="#!">
                <a href="https://www.facebook.com/Excilys/"><i class="fab fa-facebook" style="font-size: 20px;"></i></a> &nbsp;
                <a href="https://twitter.com/excilys"> <i class="fab fa-twitter-square" style="font-size: 20px;"></i></a> &nbsp;
                <a href="https://fr.linkedin.com/company/groupe-excilys"><i class="fab fa-linkedin" style="font-size: 20px;"></i></a>
            </a>
          </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container centrer">
        © 2020 Copyright Excilys
        
        </div>
    </div>
</footer>
        