<div class="container">
    <br>
<!-- News jumbotron -->
<div class="jumbotron text-center hoverable p-4">

    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-md-4 offset-md-1 mx-3 my-3">
  
        <!-- Featured image -->
        <div class="view overlay">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT7xec6UqZjd7kCeFqK9Oyq892SXfr-Sdcr7VmQgkPVdm0LaL2y" class="img-fluid" alt="Sample image for first version of blog listing">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-md-7 text-md-left ml-3 mt-3">
  
        <!-- Excerpt -->
        <a href="#!" class="green-text">
          <h6 class="h6 pb-1"><i class="fas fa-desktop pr-1"></i> Excilys</h6>
        </a>
  
        <h4 class="h4 mb-4">Computer Database</h4>
  
        <p class="font-weight-normal">Ceci est une application repertoriant tous les oridinateurs 
        chez Excilys. Les ordinateurs sont repertoriés par nom, date d'introduction, date de discontinued
         ainsi que par nom de la Marque.
        </p>
        <p class="font-weight-normal">Fait par <a><strong>Pierre</strong></a> et <a><strong>Issa</strong></a>,
         20 Mars 2020 sous l'encadrement de <a><strong>Maxime Bauer</strong></a></p>
        
        <a class="btn btn-success" href="http://www.excilys.com/" target="_blank">Qui sommes-nous?</a>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
  </div>
  <!-- News jumbotron -->
</div>