
<div class="container">
  <div class="row">
    <div class="col s12" style="text-align:center">
      <h1>(Ajout ou Edit)</h1>
    </div>
  </div>

<div class="md-form centrerLargeur">


  <form class="col s12">

       <div class="row">
         <div class="input-field col s12">
           <input  value="" id="name" type="text" placeholder="Computer Name"class="validate">
           <label for="name">Computer Name</label>
         </div>
       </div>
       <div class="row">
         <div class="input-field col s6">
           <label for="introduced">Introduced</label>
           <input  id="introduced" type="date" class="validate">
         </div>
         <div class="input-field col s6">
           <label for="discontinued">Discontinued</label>
           <input id="discontinued" type="date" class="validate">
         </div>
       </div>
       <div class="input-field col s12">
         <select class="custom-select custom-select-sm">
           <option selected>Select company Name</option>
           <option value="1">One</option>
           <option value="2">Two</option>
           <option value="3">Three</option>
         </select>
       </div>
     </form>
  <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
  <button class="btn waves-effect waves-light" type="submit" [routerLink]="['/dashboard']" name="action">Cancel</button>
</div>


</div>

