<div class="container centrer" style="text-align:center; margin-bottom:0em;">
  <div class="row">
    <div class="col s12" style="text-align:center; margin-bottom:0em;">
      <div class="card">
        <div class="card-body">
          <h2  *ngIf="addMode=='true'"  class="card-title">Add new Computer</h2>
          <h2  *ngIf="addMode=='false'"  class="card-title">Edit this Computer</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="md-form centrerLargeur" style=" text-align:center;">
    <form class="col s12" [formGroup]="computerForm" (ngSubmit)="addEditComputer()">
       <div class="row">
         <div class="input-field col s12">
           <h5>Computer Name</h5>
           <input *ngIf="addMode=='false' && computerToEdit!=null" type="text" [(ngModel)]="computerToEdit.name" class="validate"  formControlName="name" name="name">
           <input *ngIf="addMode=='true'" value="" type="text"  class="validate" formControlName="name" name="name" required>
         </div>
       </div>
       <div class="row">
         <div class="input-field col s6">
           <h5>Introduced</h5>
           <input *ngIf="addMode=='false' && computerToEdit!=null"  type="date" [(ngModel)]="computerToEdit.introduced" class="validate"  formControlName="introduced" name="introduced">
           <input *ngIf="addMode=='true'" value="" type="date" placeholder="introduced date" class="validate"  formControlName="introduced" name="introduced">
         </div>
         <div class="input-field col s6">
           <h5>Discontinued</h5>
           <input *ngIf="addMode=='false' && computerToEdit!=null"  type="date" [(ngModel)]="computerToEdit.discontinued" class="validate"  formControlName="discontinued" name="discontinued">
           <input *ngIf="addMode=='true'" value="" type="date" placeholder="discontinued date" class="validate"  formControlName="discontinued" name="discontinued">
         </div>
       </div>
       <div class="input-field col s12" >
         <select class="custom-select custom-select-sm"  formControlName="companyId" name="companyId">
           <option selected *ngIf="addMode=='false' && computerToEdit!=null && computerToEdit.company!=null">{{computerToEdit.company.name}}</option>
           <option value="company.id" *ngFor="let company of companyList">{{company.name}} </option>
         </select>
       </div>
       <div class="row">
        <div *ngIf="errors!=null" class="input-field col s12" style=" color:red">
            {{errors}}
        </div>
      </div>
       <button class="btn waves-effect waves-light" type="submit" >Submit</button>
    <button class="btn waves-effect waves-light" type="reset" [routerLink]="['/dashboard']" name="action">Cancel</button>

  </form>

  </div>
</div>
