<div class="container">
  <div class="row">
    <div class="col s12" style="text-align:center">
      <h1 *ngIf="addMode=='true'" >Add</h1>
      <h1 *ngIf="addMode=='false'" >Edit</h1>
    </div>
  </div>

  <div class="md-form centrerLargeur">
    <form class="col s12" [formGroup]="computerForm" (ngSubmit)="addEditComputer()">
       <div class="row">
         <div class="input-field col s12">
           <h5>Computer Name</h5>
           <input *ngIf="addMode=='false' && computerToEdit!=null" value="" type="text" placeholder="{{computerToEdit.name}}" class="validate">
           <input *ngIf="addMode=='true'" value="" type="text" placeholder="Enter a computer name" class="validate">
         </div>
       </div>
       <div class="row">
         <div class="input-field col s6">
           <h5>Introduced</h5>
           <input *ngIf="addMode=='false' && computerToEdit!=null" value="" type="text" placeholder="{{computerToEdit.introduced}}" class="validate">
           <input *ngIf="addMode=='true'" value="" type="text" placeholder="Enter a introduced date" class="validate">
         </div>
         <div class="input-field col s6">
           <h5>Discontinued</h5>
           <input *ngIf="addMode=='false' && computerToEdit!=null" value="" type="text" placeholder="{{computerToEdit.discontinued}}" class="validate">
           <input *ngIf="addMode=='true'" value="" type="text" placeholder="Enter a discontinued date" class="validate">
         </div>
       </div>
       <div class="input-field col s12" >
         <select class="custom-select custom-select-sm">
           <option selected *ngIf="addMode=='false' && computerToEdit!=null">{{computerToEdit.company.name}}</option>
           <option value="{{company}}" *ngFor="let company of companyList">{{company.name}} </option>
         </select>
       </div>
    </form>
    <button class="btn waves-effect waves-light" type="submit" name="submit">Submit</button>
    <button class="btn waves-effect waves-light" [routerLink]="['/dashboard']" name="action">Cancel</button>
  </div>
</div>

