<div class="row">
  <div class="col s6">
    <form action="#">
      <div class="file-field input-field">
        <div class="btn">
          <span>Filter</span>
          <input type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Enter you research">
        </div>
      </div>
    </form>
  </div>

  <div class="col s6">
    <ul class="right hide-on-med-and-down">
      <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal" [routerLink]="['/formulaire/add']">
        <i class="material-icons">add</i>
      </a>
    </ul>
  </div>
</div>

<table class="striped">
  <thead>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <tr>
      <th><a href=#><i class="small material-icons">delete</i></a></th>
      <th>Computer Name</th>
      <th>Introduced Date</th>
      <th>Discontinued Date</th>
      <th>Company Name</th>
    </tr>
  </thead>

  <tbody>
    <app-dashboard *ngFor="let computer of computerList">
    <tr>
        <td>
          <form action="#">
            <p>
              <label>
                <input type="checkbox" class="filled-in" />
                <span></span>
              </label>
            </p>
          </form>
        </td>
        <td>
        <a href=# [routerLink]="['/formulaire/edit']">
          <i class="tiny material-icons">edit</i>
        </a>
        {{computer.name}}
        </td>
        <td>{{computer.introduced}}</td>
        <td>{{computer.discontinued}}</td>
        <td>{{computer.company.name}}</td>
      </tr>
    </app-dashboard>
  </tbody>
</table>
