
<div class="container">
  <div class="row">
    <div class="col s6" >
      <div class="card">
        <div class="card-body">
          <div  class="row" style="text-align: center;"> 
            <div class="col s12 " >
              <h2 class="card-title">{{size}} Ordinateurs trouvés</h2>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s3">
              <input type="number" iclass="form-control" [(ngModel)]="taillePage" name="taillePage">
            </div>
            <div class="input-field col s3">
              <button type="button" style="color:white" class="btn  btn-sm btn-success" (click)="getComputerLIst(taillePage,pageIterator)">changer la taille</button>
            </div>
            <div class="input-field col s3">
              <input placeholder="search" id="search" type="text" class="validate" [(ngModel)]="searchBox" name="searchBox">
            </div>
            <div class="input-field col s3">
              <button class="btn-floating btn-large waves-effect waves-light btn-success" (click)="search()"><i class="material-icons">search</i></button>      
            </div>
          </div>
          <div  class="row" style="text-align: center;"> 
            <div class="col s12 " >
                  <a class="btn-floating btn-large waves-effect waves-light btn-success" [routerLink]="['/formulaire/add',!addMode]"><i class="material-icons">add</i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  
  <div class="row">
    <table class="striped">
      <thead>
      <tr>
          <th>
            <a href="#" >
              <i class="small material-icons " style="font-size: 30px; color:red">delete</i>
            </a>
          </th>
          <th>
            <a href="#">
              <i class="small material-icons" style="font-size: 30px;">edit</i>
            </a>
          </th>
          <th>  
            <a (click)="sort('name ASC',taillePage)" ><i class="small material-icons" >expand_less</i></a>
            <a (click)="getComputerLIst(taillePage,pageIterator)" >Computer Name</a>
            <a  (click)="sort('name DESC',taillePage)"><i class="small material-icons">expand_more</i></a>
          </th>
          <th>
            <a (click)="sort('introduced ASC',taillePage)" ><i class="small material-icons">expand_less</i></a>
            <a (click)="getComputerLIst(taillePage,pageIterator)" >Introduced Date</a>
            <a (click)="sort('introduced DESC',taillePage)" ><i class="small material-icons">expand_more</i></a>
          </th>
          <th>
            <a (click)="sort('discontinued ASC',taillePage)" ><i class="small material-icons">expand_less</i></a>
            <a (click)="getComputerLIst(taillePage,pageIterator)" >Discontinued Date</a>
            <a (click)="sort('discontinued ASC',taillePage)" ><i class="small material-icons">expand_more</i></a>
          </th>
          <th>
            <a (click)="sort('company.name ASC',taillePage)" ><i class="small material-icons">expand_less</i></a>
            <a (click)="getComputerLIst(taillePage,pageIterator)" >Company Name</a>
            <a (click)="sort('company.name DESC',taillePage)" ><i class="small material-icons">expand_more</i></a>
          </th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let computer of computerList">
            
            <td>
              <span class="deleteMode">
                <a>
                  <i class="small material-icons" style="font-size: 30px; color:red" (click)="supprimer(computer.id.toString())">delete</i>
                </a>
              </span>
            </td>
            <td>
            <a href=# [routerLink]="['/formulaire/edit',addMode,computer.id]">
              <i class="tiny material-icons" style="font-size: 30px;" >edit</i>
            </a>
            </td>
            <td>
            {{computer.name}}
            </td>
            <td>{{computer.introduced}}</td>
            <td>{{computer.discontinued}}</td>
            <td *ngIf="computer.company!=null">{{computer.company.name}}</td>
          </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="container" *ngIf="searchBox==''">
      <div class="row centrer">
        <div class="col s12">
          <ul class="pagination">
            <li [ngClass]="{'disabled':estPremierePage(), 'waves-effect':!estPremierePage()}"><a (click)="retournerPage()"><i class="material-icons">chevron_left</i></a></li>
            <li class="monTheme "><a >{{pageIterator}}</a></li>
            <li  [ngClass]="{'disabled':estDernierePage(), 'waves-effect':!estDernierePage()}" *ngFor="let i of cinqsElements()"><a (click)="allerALaPage(pageIterator+i)">{{pageIterator+i}} </a></li>
            <li [ngClass]="{'disabled':estDernierePage(), 'waves-effect':!estDernierePage()}"><a (click)="avancerPage()"><i class="material-icons">chevron_right</i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>